<header>
  <div class="navbar bg-success">
    <div class="navbar-brand align-item-center d-flex">
      <em style="font-size: 30px;">VineYard</em>
      <div>
        <ul class="navbar-nav flex-row" >
          <li class="nav-item d-flex">
            <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Track order</a>
          </li>
          <li>
            <a href="./profile.component.html" class="nav-link">Profile</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</header>


<body>
  <h3>My Order Tracker</h3>
  <div class="row">
    <div class="col-md-4">
      <img src="" alt="">
      .
    </div>
  </div>
</body>

<div class="text-center card d-flex profile">
    <div class="profimage img-flex">
      <img src="/vine/src/assets/images/oilcat.jpeg" alt="">
    </div>

    <div class="form-group">
      <input type="text" placeholder="full_name:John Doe"><br>
      <input type="text" placeholder="username:John Doe"><br>
      <input type="text" placeholder="email:Johndoe@gmail.com"><br>
      <input type="text" placeholder="contact: 1234567"><br>
      <input type="text" placeholder="address:457 membley">
    </div>

    <button class="btn btn-success" >Edit Profile</button>


</div>
