<header>
    <div style="background-color:#017a82 ; color: white;" class="navbar ">
      <div class="navbar-brand align-item-center d-flex">
        <em style="font-size: 30px;">VineYard</em>
        <div>
          <ul class="navbar-nav flex-row" >
            <li class="nav-item d-flex">
              <a class="nav-link" routerLink="active" routerLink="/admin-panel">Admin Panel</a>
              
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="active" routerLink="/inventory">Inventory</a>
            </li>
            <li>
              <a class="nav-link" routerLink="active" routerLink="/add-inventory">Add Inventory</a>
            </li>
                 <li>
              <a class="nav-link" routerLink="active" routerLink="/logout">Logout</a>
            </li>
  
          </ul>
        </div>
      </div>
    </div>
  </header>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity <br>in stock </th>
        <th scope="col">Cost per <br> item</th>
        <th scope="col">Sales/ Revenue</th>
        <th scope="col">Stock <br> Date</th>
        <th scope="col">Last sales <br> date/th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
  
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
  
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td> </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
  
      </tr>
    </tbody>
  </table>

