<header>
    <div style="background-color:#017a82 ;" class="navbar ">
      <div class="navbar-brand align-item-center d-flex">
        <em style="font-size: 30px;">VineYard</em>
        <div>
          <ul class="navbar-nav flex-row" >
            <li class="nav-item d-flex">
              <a class="nav-link" routerLink="active" routerLink="/home">Home</a>
            </li>
            <li>
              <a class="nav-link" routerLink="active" routerLink="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="active" routerLink="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
<div style="background-color: #D9D9D9;" class="track">
    <h3 style="text-align: center; color: #EB6519;" >My Order Tracker</h3>
    <div class="style">
        <div  class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 color">
                    
                    <div class="part">
                      <div>
                        <img style="width: 100px;" src="https://cdn.pixabay.com/photo/2018/04/09/19/55/low-poly-3305284__340.jpg" alt="">
                      </div>
                      <div>
                        <h3>Name :</h3>
                        <h3>description :</h3>
                        <h3>price:</h3>
                        
                      </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 bank">
                    <h3>Shipment Address :</h3>
                    
    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 proceed">
                    <h3>status :</h3>
                    
    
                </div>
                
            </div>
            
        </div>
        <div class="hello">

          <div class="line pend"></div>

          <div class="status">
            <span><img class="for" src="https://s3-alpha-sig.figma.com/img/5aeb/48db/715b5a182280dffa06427449a37df00d?Expires=1658102400&Signature=aztwiFPzfX33KHLwzS2FLa-icZh0rfdNCtqkWo-qVNtEOZY~ZgT05-H4hFs4H8eP0PQSwx9axWRHOk8x08eJh3oig8tUt3DAiRgScsiXHaCD4GlTr27k8pMSZ-L8COuVzRZWjmt0Qn~gFVOkd3wEvuizWzhhVpS~bs0h3IMk2NKgNrxibp3mtqmiwkHcyiWE94iOb3FElQ6JV0gcH32VcZtQ3CvNDZkCcehYGXkUiOsJL94OeNwrp7MrejHXsM2avaOlwuJpmNCDNnzLwu9utu4hP14Ptk29igi9WHN0L3Uj2r-vFxRKgNt3BlwRMZz3ZlwWh-n0FX5MfWmR0QLyFQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt=""></span>
            <span>pending</span>
            <span></span>
          </div>

          <div class="line order"></div>
  
          <div class="status">
            <span><img class="for" src="https://s3-alpha-sig.figma.com/img/5aeb/48db/715b5a182280dffa06427449a37df00d?Expires=1658102400&Signature=aztwiFPzfX33KHLwzS2FLa-icZh0rfdNCtqkWo-qVNtEOZY~ZgT05-H4hFs4H8eP0PQSwx9axWRHOk8x08eJh3oig8tUt3DAiRgScsiXHaCD4GlTr27k8pMSZ-L8COuVzRZWjmt0Qn~gFVOkd3wEvuizWzhhVpS~bs0h3IMk2NKgNrxibp3mtqmiwkHcyiWE94iOb3FElQ6JV0gcH32VcZtQ3CvNDZkCcehYGXkUiOsJL94OeNwrp7MrejHXsM2avaOlwuJpmNCDNnzLwu9utu4hP14Ptk29igi9WHN0L3Uj2r-vFxRKgNt3BlwRMZz3ZlwWh-n0FX5MfWmR0QLyFQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt=""></span>
            <span>order confirmed</span>
            <span></span>
          </div>
  
          <div class="line out"></div>
  
          <div class="status">
            <span><img class="for" src="https://s3-alpha-sig.figma.com/img/5aeb/48db/715b5a182280dffa06427449a37df00d?Expires=1658102400&Signature=aztwiFPzfX33KHLwzS2FLa-icZh0rfdNCtqkWo-qVNtEOZY~ZgT05-H4hFs4H8eP0PQSwx9axWRHOk8x08eJh3oig8tUt3DAiRgScsiXHaCD4GlTr27k8pMSZ-L8COuVzRZWjmt0Qn~gFVOkd3wEvuizWzhhVpS~bs0h3IMk2NKgNrxibp3mtqmiwkHcyiWE94iOb3FElQ6JV0gcH32VcZtQ3CvNDZkCcehYGXkUiOsJL94OeNwrp7MrejHXsM2avaOlwuJpmNCDNnzLwu9utu4hP14Ptk29igi9WHN0L3Uj2r-vFxRKgNt3BlwRMZz3ZlwWh-n0FX5MfWmR0QLyFQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt=""></span>
            <span>out for delivery</span>
            <span></span>
          </div>
  
          <div class="line deli"></div>
  
          <div class="status">
            <span><img class="for" src="https://s3-alpha-sig.figma.com/img/5aeb/48db/715b5a182280dffa06427449a37df00d?Expires=1658102400&Signature=aztwiFPzfX33KHLwzS2FLa-icZh0rfdNCtqkWo-qVNtEOZY~ZgT05-H4hFs4H8eP0PQSwx9axWRHOk8x08eJh3oig8tUt3DAiRgScsiXHaCD4GlTr27k8pMSZ-L8COuVzRZWjmt0Qn~gFVOkd3wEvuizWzhhVpS~bs0h3IMk2NKgNrxibp3mtqmiwkHcyiWE94iOb3FElQ6JV0gcH32VcZtQ3CvNDZkCcehYGXkUiOsJL94OeNwrp7MrejHXsM2avaOlwuJpmNCDNnzLwu9utu4hP14Ptk29igi9WHN0L3Uj2r-vFxRKgNt3BlwRMZz3ZlwWh-n0FX5MfWmR0QLyFQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt=""></span>
            <span>delivered</span>
            
          </div>
          <!-- </div> -->
       
         
  
    
        </div>
    </div>
</div>
