<div class="top">
          <nav class="navbar navbar-dark" style="background-color : #017A82;">
            <a class="navbar-brand" href="#">VineYard</a>
            <a class="nav-link" routerLink="active" routerLink="/profile">profile</a>
          </nav>
          </div>
      <div class="container">
      <div class="col">
      <form method="POST" action="" >
          <fieldset class="form-group">
              <legend class="border-bottom mb-4 text-center" style="color:black; font-weight: bold">Edit profile</legend>
              <div class="form-group mb-4" >
                  <label for="exampleInputFull name1" class="form-label" >full name</label>
                  <input type="full name" class="form-control" id="exampleInputFull name1" aria-describedby="full nameHelp" style="width: 20vw;" placeholder=" Enter your full name" required>
              </div>
              <div class="form-group mb-4" >
                <label for="exampleInputUsername1" class="form-label" >Username</label>
                <input type="username" class="form-control" id="exampleInputUsername1" aria-describedby="usernamelHelp" style="width: 20vw;" placeholder=" Enter your username" required>
              </div>
              <div class="form-group mb-4">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" style="width: 20vw;" placeholder="Enter email address" required>
              </div>
              <div class="form-group mb-4" >
                <label for="exampleInputContactl1" class="form-label" >Contact</label>
                <input type="contact" class="form-control" id="exampleInputContact1" style="width: 20vw;"  placeholder=" Enter contact" required>
              </div>
              <div class="form-group mb-4">
                  <label for="exampleInputAddress1" class="form-label">Address</label>
                  <input type="address" class="form-control" id="exampleInputAddress1"  arial-describedby="addressHelp" style="width: 20vw;"  placeholder="Enter your address" required>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="row">
                    <div class="col"></div>
                    <div class="d-grid gap-2 col-4 mx-auto">
                        <button type="submit" style="background-color: #017A82; " class="btn">save</button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </form>
      </div>
      <div class="col">
      </div>
        <div class="row pt-3">
            <div class="col"></div>
            <div class="col">
            </div>
            <div class="col"></div>
        </div>
      </div>
      
