

<header>
    <div class="navbar">
      <div class="navbar-brand align-item-center d-flex">
        <em style="font-size: 30px;">VineYard</em>
        <div>
          <ul class="navbar-nav flex-row" >
            <li class="nav-item d-flex">
              <a href="#" class="nav-link">Admin Panel</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Inventory</a>
            </li>
            <li>
              <a href="#" class="nav-link">Add Inventory</a>
            </li>
                 <li>
              <a href="#" class="nav-link">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <input class="form-control " type="text" value="                                                                                                             Total products" style="background-color: #E8FCF8;" aria-label="readonly input example" readonly>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col">image</th>
        <th scope="col">price</th>
        <th scope="col">actions</th>
        
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>wine</td>
        <td><img src="https://png.pngtree.com/element_our/20200609/ourmid/pngtree-high-end-red-wine-image_2223955.jpg" style="height:30px ;" alt=""></td>
        <td>ksh 2000</td>
        <td><img src="https://s3-alpha-sig.figma.com/img/577d/4ad2/b955d41de8707776d88cddb49007f7a5?Expires=1658102400&Signature=Yzvbe3jfNOdjFsgVy35ksu6TevAVFkqWWUZkcIi4iXWAL3-q6v83xsugnHCu0mfTKMtto-160ywXAvUBSPpCoy05yngiA9-71J~GWTE0czAc6~66~HCkow6GOXPOcYCB9bv05qox0Ankk5E4437z8a4-4C0Ul~k-lOnMqEInptYIshUP-owE0MTJGX9kQlPL9QcwfxTL8z0ObDoPIoSPvqKDNcHgW2f7l4FUi-jW4XFjbogQtbygUubn9DL18Tk~Y~A~PRhFkfvgSmQBLyQeeVbD4Y9sL-xK3qhrVSW7VkhK18~r1d8j6LwTbUtxREyi4ffcjxnI64ugI~pbMb33Ww__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" style="height:30px ;" alt=""></td>
        
        
  
      </tr>
     
      
    </tbody>
  </table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<img src="https://s3-alpha-sig.figma.com/img/12a4/f46b/190ffaa3f82e9400d35515d2e57a6e4b?Expires=1658102400&Signature=LqHBw7iH1Xh0WZMK387cZ-j~doul2ixlmyPKp0b6kd1Gffws06a0KHGV3kkkz6~ORIgMfh5juiMgiJJSjqycK10baz3hY0TeEEBrPIVHdwf0QfEus1qhNPk8B7DFTWbZ1DtqPq6Q8HtKYxhjUzyAdC1-xq4wk-reBqSuQNQ7GGhD5CJ8PqKogs~~GCUo5rtqQscLCxt8EWBiyZ37uV5rtTnQNDMkqGruRTxHCIfw9T8CumuX9bXuasA~cSar-euUhzKYfEoq1hfsxo1~LpAwYta5xV7om8VkBQWtVbg-To8r4u7Nvj6IgOsJcdGAE1CYT8~-xmLtQbQ6t6kVXPUhJA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" style="height:40px ;display: flex-end;" alt="">



