<div class="top">
          <nav class="navbar navbar-dark" style="background-color : #017A82;">
            <a class="navbar-brand" href="#">VineYard</a>
             <a class="nav-link" routerLink="active" routerLink="/track">Track order</a>
            <a class="nav-link" routerLink="active" routerLink="/profile">profile</a>
            <a class="nav-link" routerLink="active" routerLink="/logout">Logout</a>
          </nav>
          </div>
          <br>
          <br>
          <br>
          <br>
           <br>
                  <table class="table">
                    <thead>
                      <tr>
                        <div class="container1">
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">my cart</th>
                      </div>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <div class="container2">
                        <th scope="row"> Name</th>
                        <th scope="row"> Image</th>
                        <th scope="row"> Price</th>
                        <th scope="row"> Description</th>
                        <th scope="row"> Action</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </div>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <br>
            
                    <div class="container3">
                       <button style="background-color:#017a82; margin-left: 300px; border-radius: 2rem;" class="btn ">Total</button>
                       <button style="background-color:#017a82 ; border-radius: 2rem; margin-left: 100px;" class="btn ">Purchase</button>
      
                    </div> 
      
